.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    background-color:#006CFA;
    height: 60px;
    width: 100%;
    padding: 10px 10px;
}
.boxgreen{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: limegreen;
    color: white;
    height: 40px;
    width: 100%;
    border: 1px solid white;
}
.boxblack{
    height: 60px;
    background-color: black;
}
.boxred{
    height: 60px;
    background-color: red;
}